*			text=auto
*.cfg,*.conf	text working-tree-encoding=UTF-8 diff=config
*.txt			text working-tree-encoding=UTF-8
*.py			text working-tree-encoding=UTF-8 diff=python merge=python
multicast/*.py	text working-tree-encoding=UTF-8 diff=python merge=python
tests/*.py		text working-tree-encoding=UTF-8 diff=python merge=python
*.pyc			-text
*.sh			text working-tree-encoding=UTF-8 diff=shell merge=shell
*.bash			text working-tree-encoding=UTF-8 diff=shell merge=shell
*.ini			text
*.md			text working-tree-encoding=UTF-8 diff=markdown merge=markdown
*.yml			text
*.jpg			-text
*.png			-text
*.conf			text diff=config
*.bat			text
*.rst			text
tests/check_*	text working-tree-encoding=UTF-8 diff=shell merge=shell
Makefile		text working-tree-encoding=UTF-8 diff=makefile merge=makefile
