# Python Multicast Repo req file
# ..................................
# Copyright (c) 2017-2022, Mr. Walls
# ..................................
# Licensed under MIT (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# ..........................................
# http://www.github.com/reactive-firewall/python-reop/LICENSE.md
# ..........................................
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#python
# time - builtin - PSF licence
# re - builtin - PSF licence?
# subprocess - PSF licence
# sphinx
# argparse - builtin - PSF licence
# socket - builtin - PSF licence
# struct - builtin - PSF licence
argparse>=1.4.0
# argparse - builtin - PSF licence
setuptools>=38.3
# virtualenv - MIT
#virtualenv>=15.0.1
# six - MIT
#six>=1.0.0
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
tox>=3.0.0
#py>=1.4.33
pip>=21.0
# multicast - MIT
#-e git+https://github.com/reactive-firewall/multicast.git#egg=multicast

