#python
# time - builtin - PSF licence
# re - builtin - PSF licence?
# subprocess - PSF licence
# sphinx
# argparse - builtin - PSF licence
# socket - builtin - PSF licence
# struct - builtin - PSF licence
argparse>=1.4.0
# argparse - builtin - PSF licence
setuptools>=38.0
# virtualenv - MIT
#virtualenv>=15.0.1
# six - MIT
#six>=1.0.0
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
tox>=3.0.0
#py>=1.4.33
pip>=19.0
# multicast - MIT
#-e git+https://github.com/reactive-firewall/multicast.git#egg=multicast

