# Python Multicast Repo test req file
# ..................................
# Copyright (c) 2017-2024, Mr. Walls
# ..................................
# Licensed under MIT (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# ..........................................
# http://www.github.com/reactive-firewall/multicast/LICENSE.md
# ..........................................
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#python
# time - builtin - PSF licence
# re - builtin - PSF licence?
# subprocess - PSF licence
# sphinx
# argparse - builtin - PSF licence
# socket - builtin - PSF licence
# struct - builtin - PSF licence
# argparse - builtin - PSF licence
# argparse>=1.4.0
# argparse - builtin - PSF licence 3.7 = 62.6.0
# setuptools - MIT license
setuptools>=38.0, !=71.0.1, !=72.0, !=69.4.0, !=69.3.0, !=60.3.0, !=59.1
# virtualenv - MIT
virtualenv>=15.0.1
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
# tox - MIT licence
tox>=3.0.0, !=3.16.1
#py>=1.4.33
###
# TESTING ONLY - Do NOT report issues with these optionals on python-repo
###
# flake8 - MIT licence
flake8>=3.9.2
# pyflakes - ??? licence
# pyflakes>=2.5.0
# pep8 - ??? licence
pep8>=1.0
# pytest - ??? licence
pytest>=7.0, !=8.1.0
# pytest-checkdocs - ??? licence
pytest-checkdocs>=1.2.5
# pytest-cov - ??? licence
pytest-cov>=3.0.0
# pytest-enabler - ??? licence
pytest-enabler>=1.0.1
# pytest-flake8 - BSD licence
pytest-flake8>=1.0.7
# coverage - Apache 2.0 licence
coverage>=6.2
# wheel - MIT licence
wheel>=0.37.0
# pip - builtin?? - PSF licence
pip>=19.0
# build - ?? licence
# build>=0.5.1, !=1.0.3, !=0.6, !=0.6.1 !=1.1.0 !=1.2.0
