# Python Multicast Repo test req file
# ..................................
# Copyright (c) 2017-2024, Mr. Walls
# ..................................
# Licensed under MIT (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# ..........................................
# http://www.github.com/reactive-firewall/multicast/LICENSE.md
# ..........................................
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#python
# time - builtin - PSF licence
# re - builtin - PSF licence?
# subprocess - PSF licence
# sphinx
# argparse - builtin - PSF licence
# socket - builtin - PSF licence
# struct - builtin - PSF licence
# argparse - builtin - PSF licence
argparse>=1.4.0
# argparse - builtin - PSF licence
setuptools>=38.0
# virtualenv - MIT
virtualenv>=15.0.1
# six - MIT
six>=1.0.0
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
# tox - ??? licence
tox>=3.0.0
#py>=1.4.33
###
# TESTING ONLY - Do NOT report issues with these optionals on python-repo
###
# flake8 - ??? licence
flake8>=5.0
# pyflakes - ??? licence
# pyflakes>=2.5.0
# pep8 - ??? licence
pep8>=1.0
# pytest - ??? licence
pytest>=7
# pytest-checkdocs - ??? licence
pytest-checkdocs>=2.4
# pytest-cov - ??? licence
pytest-cov>=4.0.0
# pytest-enabler - ??? licence
pytest-enabler>=1.0.1
# pytest-flake8 - ??? licence
pytest-flake8>=1.0
# coverage - ??? licence
coverage>=6.3
# wheel - builtin?? - PSF licence
wheel>=0.37.0
# pip - builtin?? - PSF licence
pip>=21.0
# build - ?? licence
build>=1.0.1
