# Multicast Python Module docs req file
# ..................................
# Copyright (c) 2017-2025, Mr. Walls
# ..................................
# Licensed under MIT (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# ..........................................
# https://github.com/reactive-firewall-org/multicast/tree/HEAD/LICENSE.md
# ..........................................
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###
# The individual dependencies are owned by their respective copyright holders.
###
# python - PSF license
# time - builtin - PSF license
# typing_extensions - builtin? - MIT License
# re - builtin - PSF license
# subprocess - builtin - PSF license
# urllib3 - MIT license
# roman-numerals-py - Public Domain
# socket - builtin - PSF license
# struct - builtin - PSF license
# argparse - builtin - PSF license
# setuptools - MIT license
setuptools>=80.9
# virtualenv - MIT license
#virtualenv>=15.0.1
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
# tox - MIT license
#tox>=4.27.0
# wheel - MIT license
wheel>=0.45
# pip - MIT license
pip>=25.1.1
# build - MIT license
build>=1.2.1, !=1.2.2.post1
# sphinx - BSD license
sphinx>=7.3
# sphinx-autodoc2 - MIT license
sphinx-autodoc2>=0.5.0
# myst-parser - MIT license
myst-parser[linkify]>=4.0.0
# sphinxawesome-theme - MIT license
sphinxawesome-theme>=5.2
# sphinx_design - BSD license
sphinx_design>=0.6.1
# sphinxcontrib-mermaid - MIT/BSD like license
sphinxcontrib-mermaid>=1.0.0
