# Multicast Python Module docs req file
# ..................................
# Copyright (c) 2017-2025, Mr. Walls
# ..................................
# Licensed under MIT (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# ..........................................
# http://www.github.com/reactive-firewall/multicast/LICENSE.md
# ..........................................
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#python
# time - builtin - PSF license
# re - builtin - PSF license?
# subprocess - PSF license
# argparse - builtin - PSF license
# socket - builtin - PSF license
# struct - builtin - PSF license
# argparse - builtin - PSF license
# setuptools - MIT license
setuptools>=75.0
# virtualenv - MIT license
#virtualenv>=15.0.1
# pgpy - BSD 3-Clause licensed
#pgpy>=0.4.1
# tox - MIT license
#tox>=3.0.0, !=3.16.1
# wheel - MIT license
wheel>=0.44
# pip - MIT license
pip>=24.3.1
# build - MIT license
build>=1.2.1, !=1.2.2.post1
# sphinx - BSD license
sphinx>=7.3
# sphinx-autodoc2 - MIT license
sphinx-autodoc2>=0.5.0
# myst-parser - MIT license
myst-parser[linkify]>=4.0.0
# sphinxawesome-theme - MIT license
sphinxawesome-theme>=5.2
# sphinx_design - BSD license
sphinx_design>=0.6.1
