---
name: Flake8 Analysis
on: [push, pull_request]

permissions: {}  # Setting default permissions to none for enhanced security

jobs:
  flake8:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # to get PR metadata
      security-events: write  # for github/codeql-action/upload-sarif to upload SARIF results
    name: Flake8 Analysis
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    env:
      OS: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Flake8 Scan
        uses: reactive-firewall/flake8-cq@a2c49fffa7a7495944ef0488c491f607848e1aa6  # v1
        with:  # optional arguments
          config: '.flake8.ini'
          match: '**/*.py'
          publish-artifacts: false
        if: ${{ success() }}
